<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.edu.module.dao.SysUserDao">

    <update id="updateOpenIdByUsername">
        update  sys_user set open_id = #{openId},union_id=#{unionId}
        where username = #{username}
    </update>

    <select id="selectUserInfoByOpenId" resultType="net.edu.module.vo.UserVO">
        select
            id,
            username,
            real_name as realName,
            password,
            org_id as orgId,
            (select name from sys_org where id=org_id) as orgName,
            status
        from sys_user
        where
             open_id = #{openId}
    </select>

    <select id="selectOpenIdByUsername" resultType="java.lang.String">
        select open_id from sys_user where username = #{username}
    </select>
</mapper>
