<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.edu.module.dao.HomeWorkDao">


    <select id="getStudentHomeWorkPage" resultType="net.edu.module.vo.HomeWorkVO">
            select
                id,
                lesson_id,
                problem_id,
                problem_name,
                problem_type,
                score,
                begin_time,
                end_time,
                sort,
                type
            from (SELECT
                  t1.id,
                  t1.lesson_id,
                  t1.problem_id,
                  t1.problem_name,
                  t1.problem_type,
                  t1.score,
                  t1.begin_time,
                  t1.end_time,
                  t1.sort,
                  t1.type,
                  (SELECT id from judge_record t3 where t3.problem_id=t1.problem_id and t3.user_id=#{query.StudentId} limit 1) as record
                 FROM
                ( SELECT id,stu_id,lesson_id,checkin_time,status,roll_call,create_time,update_time FROM lesson_attend_log WHERE stu_id =#{query.StudentId} ) t2
                    LEFT JOIN lesson_problem t1 ON t2.lesson_id = t1.lesson_id
                ORDER BY
                begin_time ASC)	t4
                where t4.record  is null
    </select>




    <update id="changeProblemStatus">
        update lesson_problem
        set wechat_status =1
        where id=#{problemId}
    </update>
</mapper>
