<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.edu.module.dao.HomeWorkDao">


    <select id="getStudentHomeWorkPage" resultType="net.edu.module.vo.HomeWorkVO">
        SELECT
            t1.lesson_id,
            t1.problem_id,
            t1.problem_name,
            t1.problem_type,
            t1.type
        FROM
            ( SELECT lesson_id FROM lesson_attend_log WHERE stu_id = #{query.StudentId} and exists (SELECT 1 from lesson where id=lesson_id and begin_time&lt;NOW() and deleted=0) ) t2
                LEFT JOIN lesson_problem t1 ON t2.lesson_id = t1.lesson_id and t1.used=1 and type=1
        where not exists(select 1 from judge_record a where a.source=1 and source_id=t1.lesson_id and a.problem_id=t1.problem_id and a.user_id=#{query.StudentId} and a.problem_type=t1.problem_type)
        union all
        SELECT
            t1.lesson_id,
            t1.problem_id,
            t1.problem_name,
            t1.problem_type,
            t1.type
        FROM
            ( SELECT lesson_id FROM lesson_attend_log WHERE stu_id = #{query.StudentId} and exists (SELECT 1 from lesson where id=lesson_id and homework_begin_time&lt;NOW() and homework_end_time&gt;NOW() and deleted=0) ) t2
                LEFT JOIN lesson_problem t1 ON t2.lesson_id = t1.lesson_id and t1.used=1 and type=2
        where not exists(select 1 from judge_record a where a.source=2 and source_id=t1.lesson_id and a.problem_id=t1.problem_id and a.user_id=#{query.StudentId} and a.problem_type=t1.problem_type)
    </select>




    <update id="changeProblemStatus">
        update lesson_problem
        set wechat_status =1
        where id=#{problemId}
    </update>
</mapper>
